.item {
  width: 350px;
}

.item img {
  width: 200px;
  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 34px 0px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 10px 10px 34px 0px rgba(0, 0, 0, 0.73);
  box-shadow: 10px 10px 34px 0px rgba(0, 0, 0, 0.73);
}

.item p {
  margin: 6px 0;
  color: #fff;
  font-weight: bolder;
  font-size: 20px;
}

.item-prices {
  display: flex;
  gap: 20px;
}

.item-price-new {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.item-price-old {
  color: #c7d5e0;
  font-size: 18px;
  font-weight: 600;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.05);
  transition: 0.6s;
}

@media (max-width: 1280px) {
  .item {
    width: 350px;
    font-size: 14px;
    margin-left: -50px;
  }

  .item img {
    width: 190px;
  }

  .item-price-old {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .item {
    width: 300px;
    font-size: 13px;
    margin-left: -75px;
  }

  .item p {
    font-size: 17px;
  }

  .item img {
    width: 200px;
  }

  .item-price-old {
    font-size: 13px;
  }
}
@media (max-width: 800px) {
  .item {
    width: 250px;
    font-size: 12px;
    margin-left: -75px;
  }

  .item p {
    font-size: 13px;
  }

  .item img {
    width: 150px;
  }

  .item-price-old {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .item {
    width: 260px;
    margin-left: -75px;
  }

  .item p {
    font-size: 16px;
  }

  .item img {
    width: 180px;
  }
}
