.description-box {
  background: #171d25;
  margin-top: -60px;
}

.description-box-navigation {
  display: flex;
}

.description-box-navbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  width: 171px;
  height: 70px;
  border: 1px solid #d0d0d0;
  background: #d0d0d0;
}

.description-box-navbox.fade {
  background: #fbfbfb;
  color: #555;
}

.description-box-description {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  gap: 25px;
  border: 1px solid #d0d0d0;
  padding: 48px;
  padding-bottom: 70px;
}

@media (max-width: 1280px) {
  .description-box {
    margin-top: -30px;
  }
}
@media (max-width: 1024px) {
  .description-box {
    margin-top: -70px;
    width: 103%;
  }
}
@media (max-width: 800px) {
  .description-box {
    margin-top: 0px;
    width: 100%;
  }
  .description-box-description {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .description-box {
    margin-top: 285px;
  }
}
