.breadcrums {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  background: #171d25;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

@media (max-width: 1280px) {
  .breadcrums {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .breadcrums {
    font-size: 13px;
  }
}
@media (max-width: 800px) {
  .breadcrums {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .breadcrums {
    font-size: 12px;
  }
}
